

body{

    background-color: #FEFCF9;
    color: #C1272D;
    font-family: 'Carter One', cursive;
    margin: 0px !important;
    padding: 0px !important;
}

.divtodoelcontenido {  }


.franjabordo { background-color: #C1272D; display: flex; }
.titulos { color: #FEFCF9; text-align: center; }

.infoedad { color: #FEFCF9; text-align: center; }

.fotoredonda { width: 50%; border-radius: 50%; margin: 20px; }

.nombre { padding: 0px; }
.nombrerosalia { font-size: 100px; margin: 20px; margin-left: 10%;}
.lineanombre { width: 80%; size: 20px; font-size: 20px; }

.infoprimaria { margin: 5%; }

.contenidogeneral { display: flex; }


.cajaformacionacademica { margin: 5%; }
.subtitulos { padding: 0% !important; margin: 0% !important; }

.discografia { margin-left: 5%; }

.contenedorrevistas { display: flex; }
.fotovogue { width: 100%; }
.imagenesrevista { width: 20%; margin: 5%; }
.años { text-align: center; }

.añosalbum { font-size: 15px; text-align: center; }